<lf-is-loading *ngIf="isLoading$ | async"></lf-is-loading>
<lf-error-message *ngIf="error$ | async"></lf-error-message>

<div *ngIf="feed$ | async">
  <div
    class="article-preview"
    *ngFor="let article of (feed$ | async)?.articles"
  >
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img [src]="article.author.image" />
      </a>
    </div>
    <div class="info">
      <a [routerLink]="['/profiles', article.author.username]">
        {{ article.author.username }}
      </a>
      <span class="date">{{ article.createdAt }}</span>
      <div class="pull-xs-right">
        <lf-add-to-favorites
          [isFavorited]="article.favorited"
          [articleSlug]="article.slug"
          [favoritesCount]="article.favoritesCount"
        >
        </lf-add-to-favorites>
      </div>
    </div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <lf-tag-list [tags]="article.tagList"> </lf-tag-list>
    </a>
  </div>
  <lf-pagination
    [totalProps]="(feed$ | async).articlesCount"
    [limitProps]="limit"
    [urlProps]="baseUrl"
    [currentPageProps]="currentPage"
  ></lf-pagination>
</div>
